<html>
  <head>
    <title>Nifty Mink</title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars-v4.0.2.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/css/main.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/css/loader.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/css/image-search.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/css/footer.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/css/login.css">
  </head>
  <body>
    <div class="header">
      <div class="button colorized" id="homeButton"></div>
      <div class="button colorized" id="searchButton" data-target="imageSearch"></div>
      <div class="button index" id="schemeSwitch"></div>
    </div>
    <div class="center">
      <div class="center-container">
        <div class="clock index partial colorized">
          <h1>00:00</h1>
          <div class="greeting">
            <p>Good <span class="day-time"></span>, <span id="username"></span>.</p>
          </div>
        </div>
        <div id="yield"></div> <!-- partials go here -->
      </div>
    </div>
    <div class="footer">

      <% if(user) { %>
        <div class="button colorized login" id="user-button" data-target="settings"></div>
      <% } else { %>
        <div class="button colorized login" id="user-button" data-target="login"></div>
        <div class="tooltips right"><span class="invisible">Login or sign up?</span></div>
      <% } %>
    </div>
  </body>
  <script type="text/template" id="imageSearchSource">
    <div class="search-box partial">
      <h1>Image search</h1>
      <br>
      <input type="text">
      <br>
      <div id="no-results">
        <span style="display: none;">No Results</span>
      </div>
      <div id="loader"></div>
    </div>
  </script>

  <script type="text/template" id="imageGridSource">
    <div class="partial" id="image-grid">

      {{#each images}}
        <div class="preview" data-id="{{this.id}}" data-imageurl="{{this.imageurl}}" style="background-image: url({{this.thumbnail_url}})"></div>
      {{/each}}
    </div>
  </script>

  <script type="text/template" id="loginSource">
    <div class="form" id="login-form">
      <h1>Want the good stuff?</h1>
      <p>Logging in allows you to add images to your favorites, sync with multiple devices and much more :)</p>
      <div class="login-strategies">
        <div class="strategy facebook">
          <a href="/auth/facebook"><img src="/assets/images/facebook.png"></a>
        </div>
        <div class="strike">
           <span>OR</span>
       </div>
        <div class="strategy local">
          <form method="post" action="/local-login">
            <p><input type="email" name="email" value="" placeholder="Email"></p>
            <p><input type="password" name="password" value="" placeholder="Password"></p>
            <input type="hidden" id="currentImage" name="image" value="asdf">
            <p class="btn"><input type="submit" name="commit" value="Login/Register"></p>
          </form>
        </div>
      </div>
    </div>
  </script>
  <script type="text/template" id="settingsSource">
    <div class="section details">
      <h1>Settings</h1>
      <p>Firstname: <input type="text" placeholder="<%= user.firstname %>">
    </div>
    <a href='/logout'>
      <div class="btn" id="logout-button">
        Logout
      </div>
    </a>
    <div class="delete-user">
      <form method="post" action="/delete">
        <p>Delete Account</p>
        <p>Please enter your password to verify it`s you!</p>
        <p><input type="password" name="password" value=""></p>
        <p class="btn danger"><input type="submit" name="delete" value="Delete Account"></p>
      </form>
    </div>
  </script>
  <script src="assets/javascript/helpers.js"></script>
  <script src="assets/javascript/render-page.js"></script>
  <script src="assets/javascript/clock.js"></script>
  <script src="modules/users/controllers/user.client.controller.js"></script>
  <script src="client.js"></script>
</html>
