html {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('https://farm1.staticflickr.com/310/20220621979_6dfef1dd19_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 100%;
}

body {
  font-size: 1em;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.9);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

body.home {
  background: none;
}

h1, h2, h3, p {
  margin: 0;
}

.center {
  width: 100%;
  padding: 0;
  height: 90vh;
}

.header {
  height: 5vh;
  padding: 10px;
}

.center-container {
  height: 100%;
  width: 100vw;
  padding: 0 9.5vw 0 9.5vw;
  text-align: center;
}

.clock {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clock h1 {
  font-size: 1125%;
  margin: 0;
}

.clock .greeting {
  font-size: 340%;
}

.button {
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
}

.search-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0px;
}

.search-box input{
  font-size: 250%;
  width: auto;
  min-width: 500px;

}
input {
  width: 250px;
  height: 55px;
  font-size: 150%;
  padding: 5px 5px 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  text-align: center;
}

#searchButton {
  background: url('../../images/search.png');
  background-size: contain;
  float: right;
  margin: 10px;
}

.home #searchButton.dark{
  background-image: url('../../images/search-dark.png');
}

#homeButton {
  background: url('../../images/home.png');
  background-size: contain;
  float: left;
  margin: 10px;
}

#homeButton .dark {
  background: url('../../images/home-dark.png');
}

#name-field {
  outline: none;
}

#name-field.editing {
  border-bottom: 1px solid #fff;
}

#yield {
  height: 100%;
}

.btn {
    border: 1px solid #fff;
    font-size: 150%;
    //background: rgba(32, 32, 32, 0.5);
}

.btn:hover {
  color: #fff;
  background: rgba(32, 32, 32, 0.8);
}

#schemeSwitch {
  background: url('../../images/color-scheme.png');
  background-size: contain;
  float: right;
  margin: 10px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.colorized {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.dark {
  color: #202020;
  border-color: #202020;
}
