body {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('https://farm1.staticflickr.com/310/20220621979_6dfef1dd19_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
  color: #fff;
}

.center {
  width: 100%;
  padding: 0;
  height: 90vh;
}

.header {
  height: 5vh;
}

.footer {
  height: 5vh;
}

.left-container {
  height: 100%;
}

.center-container {
  height: 100%;
  text-align: center;
}

.clock {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.clock h1 {
  font-size: 1800%;
}

.clock .greeting {
  font-size: 540%;
}

.search-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 10px;
}

.search-box input {
  width: 250px;
  height: 40px;
  font-size: 250%;
  padding: 5px 5px 0 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  text-align: center;
}

.right-container {
  height: 100%;
}

#name-field {
  outline: none;
}

#name-field.editing {
  border-bottom: 1px solid #fff;
}
